<footer class="footer">
    <div class="container">
      <div class="row">
       
        <div class="col-lg-5 mb-4 mb-lg-0">
          <h2 class="h5 text-white lined mb-4">Quick Links</h2>
          <div class="d-flex">
            <ul class="list-unstyled d-inline-block mr-4 mb-0">
              <li class="mb-2"><a class="footer-link" href="#">Make Complaint </a></li>
              <li class="mb-2"><a class="footer-link" href="#">Muncipality Corporation</a></li>
              <li class="mb-2"><a class="footer-link" href="#">About our Services</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Contact Details</a></li>
            </ul>
            <ul class="list-unstyled d-inline-block mb-0">
              <li class="mb-2"><a class="footer-link" href="#">Home </a></li>
              <li class="mb-2"><a class="footer-link" href="#">About us</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Feedback System</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <h2 class="h5 text-white lined mb-4">Feedback</h2>
          <p class="text-muted text-small">I’ve missed? Let me know in the comments below – I’ll make sure it’s included.</p>
          <div class="input-group mb-3">
            <input class="form-control text-muted bg-none border-primary" type="text" placeholder="Any suggestions" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">       
      <div class="container text-center py-4">
        <p class="mb-0 text-muted">&copy; 2023,Our College . Project designed by <a href="www.bitsathy.ac.in">Bannari Amman Institute of Technology</a>.</p>
      </div>
    </div>
  </footer>