<div class="about-section">
    <h1>About Us </h1>
    <p>Our Vission and Mission.</p>
    <p>Let's make clean India and save our world and future generations.</p>
    
  </div>
  
  <h2 style="text-align:center">We Provide</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets\d.jpeg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Vission</h2>
          <p class="title">Indian Cooperation</p>
          <p>India's difficulty is its unclean society, particularly its water, sanitation, and
            drainage infrastructure. Within four to five days, the appropriate worker may
            arrive to clean that location. Until then, these wastes may spread several
            diseases through the air and animals, as well as degrade the environment.
            When the appropriate person doesn't show up, the society becomes
            increasingly unclean. India generates between 0.2 and 0.6 pounds of trash per
            person every day. We are all accountable for the development of India as
            citizens. We suggested the creation of an Android application as a solution to
            this environmental problem.</p>
          <p><button class="button">Join Us</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets\a.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mission</h2>
          <p class="title">PM & CM</p>
          <p>This application primarily provides details on social programmes, laws that
            must be upheld to maintain public order, activities to be performed, and the
            current standing of previous complaints. If the complaint is not addressed
            within the allotted time, you can file another one, in which case the complaint
            will be forwarded to a higher authority. After some time has passed since the
            complaint was posted, the re-complaint option will be enabled. The use of this
            application is both urban and rural.</p>
          <p><button class="button">Join Us</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets\c.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Friendly</h2>
          <p class="title">We People</p>
          <p>The primary goal of our application is to maintain social order. So the
            complaint session is the primary component. When we click the complaint
            session link, a login prompt appears. After providing the necessary
            geolocation information and user details, we must select the relevant
            department (water, sanitation, garbage, and drainage management), after
            which we must upload a photo or a video of that department. The
            appropriate company is then notified of the complaint, and someone will be
            dispatched to clean the area. If your complaint wasn't addressed within the
            allotted time, you can re-complain and have the message forwarded to a
            higher authority. This higher authority will take the necessary actions to tidy
            it up.</p>
          <p><button class="button">Join Us</button></p>
        </div>
      </div>
    </div>
  </div>
