<!-- Hero Banner-->
<section class="hero-home bg-cover bg-center" style="background: url(assets/images/home-banner.d5d76471.jpg)">
    <div class="container index-forward py-5 mb-5">
      <div class="row text-white">
        <div class="col-lg-8">
          <h1 class="text-uppercase mb-0 text-shadow">MAKE A SUSTAINABLE CITY</h1>
          <p class="h5 my-4 text-shadow">Provide best services for our society</p>
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <!-- Info Section-->
  <section class="info p-0 bg-light">
    <div class="container bg-white">
      <div class="row py-5 border-top border-md border-primary">
        <div class="col-lg-4 border-right mb-4 mb-lg-0">
          <div class="px-4">
            <p class="text-primary mb-0 font-weight-normal">ACT-1947</p>
            <h3 class="h5">The Water Act</h3>
            <p class="text-muted mb-0 text-small">- The Water (Prevention and Control of Pollution) Act establishes an institutional structure for preventing and abating water pollution. It establishes standards for water quality and effluent. Polluting industries must seek permission to discharge waste into effluent bodies..</p>
          </div>
        </div>
        <div class="col-lg-4 border-right mb-4 mb-lg-0">
          <div class="px-4">
            <p class="text-primary mb-0 font-weight-normal">ACT-1986</p>
            <h3 class="h5">Environmental Protection Act</h3>
            <p class="text-muted mb-0 text-small">Enacted in 1986, the Environment Protection Act aims to establish a sufficient protection system for the environment. It gives the power to the central government to regulate all forms of waste and to tackle specific problems that may present themselves in different regions of India.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="px-4">
            <p class="text-primary mb-0 font-weight-normal">ACT-1873</p>
            <h3 class="h5">Central Government Act</h3>
            <p class="text-muted mb-0 text-small">Section 68 in The Northern India Canal And Drainage Act, 1873. Settlement of differences as to mutual rights and liabilites of persons interested in water- course. Whenever a difference arises between two or more persons in regard to their mutual rights or liabilities in respect of the use, construction or maintenance of a water- course, any such person may apply in writing to the Divisional Canal- officer stating the matter in dispute.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  
 
  <!-- Service Section-->
  <section class="services">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">Our  <span class="text-primary">Services</span></h2>
      <p class="text-muted mb-5">Our Services are any time for the people and to make our city has been Sustainable.</p>
      <div class="row">
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Water Management System</h2>
         
                  <p class="services-item-text text-small mb-0"><br>Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Garbage Management System</h2>
               
                  <p class="services-item-text text-small mb-0"><br>Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Sanitation Management System</h2>
                
                  <p class="services-item-text text-small mb-0"><br>Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Drainage Management System</h2>
                  
                  <p class="services-item-text text-small mb-0"><br>Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
  <!-- Doctors Section-->
  <section class="doctors bg-light">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">Our  <span class="text-primary">Thoughts</span></h2>
      <p class="text-muted mb-5">We are made the city, has been more clean and hygenic </p>
      <div class="row">
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-1.8c56c2fe.png" alt="">
                    <div class="doctor-overlay">   
                      <ul class="list-inline mb-0 doctor-social">
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Water Management System</h6>
                    <p class="text-muted text-small mb-0"><br><br>"Increase greenery by recycling waste."
                      <br><br>“The three R's – reduce, reuse and recycle – all help to cut down on the amount of waste we throw away.<br>Save things or waste, it's your choice.
<br>          <br>        <br>  </p>
                  </div><a class="btn btn-block btn-primary" href="#">View Details</a>
                </div>
              </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-2.513be8f2.png" alt="">
                    <div class="doctor-overlay">   
                      <ul class="list-inline mb-0 doctor-social">
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Sanitation Management System</h6>
                    <p class="text-muted text-small mb-0"><br><br>“Thousands have lived without love, not one without water.” -H. Auden.<br> <br>“Water is life's matter and matrix, mother and medium. There is no life without water.”<br><br> – Albert Szent-Gyorgyi, M.D. Discoverer of Vitamin C.<br></p>
                  </div><a class="btn btn-block btn-primary" href="#">View Details</a>
                </div>
              </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-3.11683e5a.png" alt="">
                    <div class="doctor-overlay">   
                      <ul class="list-inline mb-0 doctor-social">
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Garbage Management System</h6>
                    <p class="text-muted text-small mb-0"><br>Save earth by reusing, recycling waste.<br>
                      <br>“Clean communities, healthy citizens.” “When it comes to profit over safety, profit usually wins.” <br>“Rainy season should fill us with joy, not malaria parasites.”<br><br> “Unclean life is ungodliness.”</p>
                  </div><a class="btn btn-block btn-primary" href="#">View Details</a>
                </div>
              </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-4.a9621be9.png" alt="">
                    <div class="doctor-overlay">   
                      <ul class="list-inline mb-0 doctor-social">
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Drainage Management System</h6>
                    <p class="text-muted text-small mb-0"><br>The principles of interception, relief, or pumped-well drainage may be applied to each according to the pattern of subsurface flow. The pattern of flow becomes known from a field investigation of soil stratification, water source, and water table or pressure data.</p>
                  </div><a class="btn btn-block btn-primary" href="#">View Details</a>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>

  